<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
      internalLogLevel="Info" internalLogFile="${basedir}\Log\InnerLog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="File" name="web-www" fileName="${basedir}/logs-www/${date:format=yyyy-MM-dd}/${date:format=HH}/log_${date:format=yyyy-MM-dd-HH}_${aspnet-sessionid}.txt"
			  layout="${longdate}|${level:uppercase=true}|${callsite:className=true:includeSourcePath=false:methodName=false}|${message}" />
		<target xsi:type="File" name="web-error" fileName="${basedir}/logs-error/${date:format=yyyy-MM-dd}/${date:format=HH}/log_${date:format=yyyy-MM-dd-HH}_${aspnet-sessionid}.txt"
			  layout="${longdate}|${level:uppercase=true}|${callsite:className=true:includeSourcePath=false:methodName=false}|${message}" />
		<target xsi:type="File" name="web-jobs" fileName="${basedir}/logs-jobs/${date:format=yyyy-MM-dd}/${date:format=HH}/log_${date:format=yyyy-MM-dd-HH}.txt"
			  layout="${longdate}|${level:uppercase=true}|${callsite:className=true:includeSourcePath=false:methodName=false}|${message}" />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="*" minlevel="Error" writeTo="web-error" />
		<logger name="*" minlevel="Error" writeTo="web-www" />
		<logger name="JobsLogger" minlevel="Error" writeTo="web-jobs" />
	</rules>
</nlog>